<source>
  type tail
  path /var/log/logging-containers/*.log
  pos_file /var/log/logging-containers/fluentd-containers.pos
  time_format %Y-%m-%dT%H:%M:%S
  tag container.*
  format json
  read_from_head true
</source>

<source>
  type tail
  path /var/log/logging-volumes/*.log
  pos_file /var/log/logging-volumes/fluentd-volumes.pos
  tag volume.*
  format none
  read_from_head true
</source>

<filter container.**>
  type docker_metadata
</filter>

<filter volume.** container.**>
  @type record_transformer
  <record>
    tag ${tag}
    hostname ${hostname}
  </record>
</filter>

<filter container.**>
  @type             dedot
  de_dot            true
  de_dot_separator  _
  de_dot_nested     true
</filter>

<match volume.** container.**>
  @type elasticsearch
  logstash_prefix {{ getv "/self/stack/environment_name" }}
  logstash_dateformat {{getv "/self/service/metadata/elasticsearch_index_format"}}
  logstash_format true
  host elasticsearch
  port 9200
</match>